
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

p, h2, h1, h3, h4 {
  color: rgba(68, 83, 91, 1);
}


#home-page-container{
    margin-left: 23%;
    margin-top: 20px;
    width: 54%;
    height: 100%;
}

.home-page-menu-button{
    background-color: white;
    border-width: 0px;
    border-radius: 8px;
}

.home-page-menu-button:hover {
    color: white;
    border-width: 1px;
    border-color: #eeeeee;
}

.img-responsive{
    border-color: white;
}

#map-container{
   height: 680px;
}




/******************************* GRAPHING STYLING *****************************/

.grade-filter{
    background-color: rgba(68, 83, 91, 0.1);
    display: -webkit-box;
    box-shadow: 2px 2px 5px rgba(68, 83, 91, 1);
    padding: 13px 10% ;
}

.commodity-caret {
    padding: 0px;
    display: inline-flex;
}

.btn-commodity-filter {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px!important;
    color: rgba(68, 83, 91, 1);
    box-shadow: -2px -2px 4px rgba(68, 83, 91, 0.1) inset;
    padding: 7px 60px;
    border: none;
}

.canvas-container{
    padding-left: 300px;
    padding-top: 60px;
}

.dropdown-packhouse {
     width: 100%;
     border-radius: 0px!important;
     padding: 7px;
}

.toggle-percentage {
     padding: 18px;
}

.packhouse-containter {
    padding: 0px;
}

.btn-packhouse1 {
     background-color: rgba(120, 181, 67, 0.8);
     color: white;
}
.btn-packhouse2 {
    background-color: rgba(68, 83, 91, 1);
    color: white;
}
.btn-packhouse3 {
    background-color: rgba(28, 160, 255, 0.8);
    color: white;
}


.title-row {
    padding: 20px;
    padding-left: 10%!important;
}

.btn-class-select {
    margin-top: 15px!important;
    border-radius: 0px!important;
    color: rgba(68, 83, 91, 1);
    box-shadow: 2px 2px 5px rgba(68, 83, 91, 1);
    padding: 7px 60px;
}


.myChart{
    height: 550px !important;
    width: 900px !important;
    margin: auto;
}
.col-centered{
    float: none;
    margin: 0 auto;
}


/******************************************************************************/




/************************************* LOGGING *****************************************/

#logging-table{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    overflow: auto;
}

.bootstrap-table{
    max-height: 500px;
    overflow: auto;
    border: 0.8px solid rgba(68,83,91,0.8);
    border-radius: 5px;
}

#log-table-container{
    padding-top: 0px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0px;
    margin: 0px !important;

}

/* --------- Logging page filters - split into 5 equal columns ----------*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

#log-date-range-filter {
    width: 100%;
}

#logging-filter-panel{
    cursor: pointer ;
}

#logging-drop-down-icon{
    text-align:center
}

th {
    background-color: #44535B;
    color: white;
}

#update-btn-div {

}


#date-range-div{
    padding-right: 10%;
}
