

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

#home-page-container{
    margin-left: 23%;
    margin-top: 20px;
    width: 54%;
    height: 100%;
}

.home-page-menu-button{
    background-color: white;
    border-width: 0px;
    border-radius: 8px;
}

.home-page-menu-button:hover {
    color: white;
    border-width: 1px;
    border-color: #eeeeee;
}

.img-responsive{
    border-color: white;
}

#map-container{
 height: 680px;

}

.myChart{
    height: 550px !important;
    width: 900px !important;
}
.col-centered{
float: none;
margin: 0 auto;
}

.canvas-container{
    padding-left: 300px;
    padding-top: 60px;
}


#logging-table{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}
